body {
    background-color: #fffff0;
    /* background-image: url("https://i.pinimg.com/564x/b6/22/f3/b622f3278885cbc049557b49f0ec5371.jpg");
    background-size: 40%;
    background-repeat: no-repeat */
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C4AE8C;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar_list {
  float: left;
}

.navbar_list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar_list a:hover {
  background-color: #D9C7AA;
}

.active {
  background-color: #D9C7AA;
}

ul {
  position: sticky;
  top: 0;
  width: 100%;
}

h1 {
    margin-left: 25%;
    margin-top: 5%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    align-self:stretch;
}

h2 {
  margin-left: 30%;
  margin-top: 0%;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  align-self:stretch;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #FFFFFF;
  }

  * {box-sizing:border-box}

 
a:link, a:visited {
  color: white;
}